/* 
--------------------------------
        SUMMARY
--------------------------------
*/
.site-main .about-summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 75px 25px 0px 25px;

    @media screen and (min-width: 50em) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 100%;
        height: 100vh;
        min-height: 800px;
        margin: auto;
    }

    @media screen and (min-width: 80em) {
        max-width: 80%;
    }
    // Banner Image
    img {
        width: 100%;
        max-width: 200px;
        margin: auto;
        @media screen and (min-width: 50em) {
            max-width: 450px;
            padding: 30px;
        }
    }

    .content {
        @media screen and (min-width: 50em) {
            max-width: none;
        }
        h1 {
            text-align: center;
            margin: 15px 0px 5px 0px;
            text-transform: lowercase;
            @media screen and (min-width: 50em) {
                text-align: left;
                font-size: 2em;
            }
            @media screen and (min-width: 75em) {
                font-size: 3em;
            }
        }
        p.headline {
            text-align: center;
            margin-bottom: 20px;
            text-transform: lowercase;
            color: #e59950;
            @media screen and (min-width: 50em) {
                text-align: left;
            }
        }
        p.summary {
            margin: 0px auto 15px auto;
            font-size: 0.85em;
            max-width: 95%;
            line-height: 2;
            letter-spacing: 1.05px;
            @media screen and (min-width: 50em) {
                padding: 0px;
                margin: 0px 0px 15px 0px;
                font-size: 0.9em;
            }
        }
    }
}

/* 
--------------------------------
        STACK
--------------------------------
*/
article.my-stack {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 35px 0px;
}

.my-stack-inner-container {
    width: 100%;
    height: auto;
    border: 1px dashed red;
    padding: 10px;

    h2 {
        margin: 20px 0px;
    }
    @media screen and (min-width: 75em) {
        max-width: 80%;
    }

    /* Stack */
    div.stack-list {
        margin-bottom: 75px;
        .stack-ul {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 10px;
            align-items: center;

            li {
                @include center-items--col;
                padding: 10px 20px;
                border-radius: 7px;
                text-transform: lowercase;
            }

            @media screen and (min-width: 25em) {
                grid-template-columns: repeat(3, 1fr);
            }
            @media screen and (min-width: 50em) {
                grid-template-columns: repeat(4, 1fr);
            }
            @media screen and (min-width: 75em) {
                grid-template-columns: repeat(6, 1fr);
            }
            @media screen and (min-width: 100em) {
                grid-template-columns: repeat(8, 1fr);
            }
        }
    }

    div.technical-skills {
        .technical-skills-ul {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 10px;
            @media screen and (min-width: 50em) {
                grid-template-columns: repeat(3, 1fr);
            }
            li {
                @include center-items--col;
                padding: 10px 20px;
                border-radius: 7px;
                background: rgb(240, 240, 240);
                color: #282c35;
            }
        }
    }
}

/* Grid Colors for individual stack item */
#stack-item {
    &__reactjs {
        background: rgba(#5ed3f3, 0.4);
        color: #282c35;
    }
    &__html5 {
        background: rgba(#dd4b24, 0.4);
        color: #282c35;
    }
    &__css3 {
        background: rgba(#0e73b7, 0.4);
        color: #282c35;
    }
    &__sass {
        background: rgba(#c76494, 0.4);
        color: #282c35;
    }
    &__javascript {
        background: rgba(#f7df1f, 0.4);
        color: #282c35;
    }
    &__jquery {
        background: rgba(#0169af, 0.4);
        color: #282c35;
    }
    &__typescript {
        background: rgba(#2d79c7, 0.4);
        color: #282c35;
    }
    &__gatsby {
        background: rgba(#633194, 0.4);
        color: #282c35;
    }
    &__apollo {
        background: rgba(#010101, 0.4);
        color: #282c35;
    }
    &__wordpress {
        background: rgba(#00749a, 0.4);
        color: #282c35;
    }
    &__php {
        background: rgba(#858ebb, 0.4);
        color: #282c35;
    }
    &__mysql {
        background: rgba(#dd8a00, 0.4);
        color: #282c35;
    }
    &__graphql {
        background: rgba(#e10098, 0.4);
        color: #282c35;
    }
    &__grunt {
        background: rgba(#f3a419, 0.4);
        color: #282c35;
    }
}
