/* 
--------------------------------
        SUMMARY
--------------------------------
*/
.site-main .about-summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 75px 25px 0px 25px;

    @media screen and (min-width: 50em) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 100%;
        height: 100vh;
        min-height: 800px;
        margin: auto;
    }

    @media screen and (min-width: 80em) {
        max-width: 80%;
    }
    // Banner Image
    img {
        width: 100%;
        max-width: 200px;
        margin: auto;
        @media screen and (min-width: 50em) {
            max-width: 450px;
            padding: 30px;
        }
    }

    .content {
        @media screen and (min-width: 50em) {
            max-width: none;
        }
        h1 {
            text-align: center;
            margin: 15px 0px 5px 0px;
            text-transform: lowercase;
            @media screen and (min-width: 50em) {
                text-align: left;
                font-size: 2em;
            }
            @media screen and (min-width: 75em) {
                font-size: 3em;
            }
        }
        p.headline {
            text-align: center;
            margin-bottom: 20px;
            text-transform: lowercase;
            color: #e59950;
            @media screen and (min-width: 50em) {
                text-align: left;
            }
        }
        p.summary {
            margin: 0px auto 15px auto;
            font-size: 0.85em;
            max-width: 95%;
            line-height: 2;
            letter-spacing: 1.05px;
            @media screen and (min-width: 50em) {
                padding: 0px;
                margin: 0px 0px 15px 0px;
                font-size: 0.9em;
            }
        }
    }
}

/* 
--------------------------------
        STACK
--------------------------------
*/
article.my-stack {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 35px 0px;
    background: #f7f7f7;
}

.my-stack-inner-container {
    width: 100%;
    height: auto;
    h2 {
        text-align: center;
        margin: 20px 0px;
    }

    div.stack-list {
        .stack-ul {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-auto-rows: 100px;
            align-items: center;
            justify-items: center;
        }
    }
}

/* Grid Colors for individual stack item */
#stack-item {
    &__reactjs {
        background: #5ed3f3;
        color: #282c35;
    }
    &__html5 {
        background: #dd4b24;
        color: white;
    }
    &__css3 {
        background: #0e73b7;
        color: white;
    }
    &__sass {
        background: #c76494;
        color: white;
    }
    &__javascript {
        background: #f7df1f;
        color: #282c35;
    }
    &__jquery {
        background: #0169af;
        color: white;
    }
    &__typescript {
        background: #2d79c7;
        color: white;
    }
    &__gatsby {
        background: #633194;
        color: white;
    }
    &__apollo {
        background: #010101;
        color: white;
    }
    &__wordpress {
        background: #00749a;
        color: white;
    }
    &__php {
        background: #858ebb;
        color: white;
    }
    &__mysql {
        background: #dd8a00;
        color: white;
    }
    &__graphql {
        background: #e10098;
        color: white;
    }
    &__grunt {
        background: #f3a419;
        color: #282c35;
    }
}
